extends layout

block content
    p This is a rather simple application, allowing for the controlling of locks that follow the specifications of the <em>Internet Standard Entry Liability Offset Council of Keybearers</em> (ISELOCK).
    p ISELOCK certified locks are internet connected locks that allow for remote access management of important infrastructure. Common uses include:
      ul
          li Military Bases
          li Real-estate Agencies
          li Company Cars
          li Pirate Chests (retrofit!)
          li Digital Signing Keys
    p As you can see, there are <del>hundreds of</del> at least five applications for these locks!

    h2 Protocol Specifications
    p This lock allows for plugable modules to allow for new locks. This application exposes the following API's, as per ISELOCK standards.

    pre
      |{
      |  "test": 2,
      |  "key": "potato"
      |}
    





    footer
      small Please note, neither the ISELOCK body, the authors of this application, or it's maintainers, are responsible for any security failures of this application. The end user assumes all responsibility in the case of a breach.